---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import TagsList from "@components/TagsList.astro";
import PostsList from "../components/PostsList.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => (b.data.updatedDate ?? b.data.date).valueOf() - (a.data.updatedDate ?? a.data.date).valueOf(),
);

const allTags = posts.map((post) => post.data.tags).flat();

const tags = allTags.reduce(function (acc, tag: string) {
  acc[tag] = (acc[tag] || 0) + 1;
  return acc;
}, {});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        <span class="text-yellow-400 text-2xl">Le</span> blog écrit <span class="font-bold text-2xl">par</span> un développeur
        <span class="font-bold text-2xl">pour</span> les développeurs !
      </p>
      <p>
        Quand je ne trouve pas d'infos je compile les infos que je trouve et
        j'écris l'article que j'aurais aimé trouver 😅.
      </p>
      <p>
        Des questions purement techniques (et technologiques) sur le
        fonctionnement d'un ordinateur jusqu'aux outils de documentation, en
        passant par la mise en place de test, la rédaction de ces articles me
        permet de poser mes idées et de m'en imprégner durablement.
      </p>

      <section>
        <TagsList tags={tags} />
        <PostsList posts={posts} />
      </section>
    </main>
    <Footer />
      </body>
</html>
